body {
    background-color: rgb(253, 200, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1, h2 {
    color: purple;
}

a{
    color: rgb(91, 0, 177);
    text-decoration: none;
}
